@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-background: light-dark(#f5f5f5, #282828);
  --color-foreground: light-dark(#f3f4f6, #232326);
}

@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 100%;
}
