@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: light-dark(oklch(1 0 0), oklch(0.147 0.004 49.25));
  --color-foreground: light-dark(
    oklch(0.147 0.004 49.25),
    oklch(0.985 0.001 106.423)
  );

  --color-card: light-dark(oklch(1 0 0), oklch(0.216 0.006 56.043));
  --color-card-foreground: light-dark(
    oklch(0.147 0.004 49.25),
    oklch(0.985 0.001 106.423)
  );

  --color-popover: light-dark(oklch(1 0 0), oklch(0.216 0.006 56.043));
  --color-popover-foreground: light-dark(
    oklch(0.147 0.004 49.25),
    oklch(0.985 0.001 106.423)
  );

  --color-primary: light-dark(
    oklch(0.216 0.006 56.043),
    oklch(0.923 0.003 48.717)
  );
  --color-primary-foreground: light-dark(
    oklch(0.985 0.001 106.423),
    oklch(0.216 0.006 56.043)
  );

  --color-secondary: light-dark(
    oklch(0.97 0.001 106.424),
    oklch(0.268 0.007 34.298)
  );
  --color-secondary-foreground: light-dark(
    oklch(0.216 0.006 56.043),
    oklch(0.985 0.001 106.423)
  );

  --color-muted: light-dark(
    oklch(0.97 0.001 106.424),
    oklch(0.268 0.007 34.298)
  );
  --color-muted-foreground: light-dark(
    oklch(0.553 0.013 58.071),
    oklch(0.709 0.01 56.259)
  );

  --color-accent: light-dark(
    oklch(0.97 0.001 106.424),
    oklch(0.268 0.007 34.298)
  );
  --color-accent-foreground: light-dark(
    oklch(0.216 0.006 56.043),
    oklch(0.985 0.001 106.423)
  );

  --color-destructive: light-dark(
    oklch(0.577 0.245 27.325),
    oklch(0.704 0.191 22.216)
  );
  --color-destructive-foreground: light-dark(
    oklch(0.985 0.001 106.423),
    oklch(0.985 0.001 106.423)
  );

  --color-border: light-dark(oklch(0.923 0.003 48.717), oklch(1 0 0 / 10%));
  --color-input: light-dark(oklch(0.923 0.003 48.717), oklch(1 0 0 / 15%));
  --color-ring: light-dark(oklch(0.709 0.01 56.259), oklch(0.553 0.013 58.071));

  --color-chart-1: light-dark(
    oklch(0.646 0.222 41.116),
    oklch(0.488 0.243 264.376)
  );
  --color-chart-2: light-dark(
    oklch(0.6 0.118 184.704),
    oklch(0.696 0.17 162.48)
  );
  --color-chart-3: light-dark(
    oklch(0.398 0.07 227.392),
    oklch(0.769 0.188 70.08)
  );
  --color-chart-4: light-dark(
    oklch(0.828 0.189 84.429),
    oklch(0.627 0.265 303.9)
  );
  --color-chart-5: light-dark(
    oklch(0.769 0.188 70.08),
    oklch(0.645 0.246 16.439)
  );

  --color-sidebar: light-dark(
    oklch(0.985 0.001 106.423),
    oklch(0.216 0.006 56.043)
  );
  --color-sidebar-foreground: light-dark(
    oklch(0.147 0.004 49.25),
    oklch(0.985 0.001 106.423)
  );
  --color-sidebar-primary: light-dark(
    oklch(0.216 0.006 56.043),
    oklch(0.488 0.243 264.376)
  );
  --color-sidebar-primary-foreground: light-dark(
    oklch(0.985 0.001 106.423),
    oklch(0.985 0.001 106.423)
  );
  --color-sidebar-accent: light-dark(
    oklch(0.97 0.001 106.424),
    oklch(0.268 0.007 34.298)
  );
  --color-sidebar-accent-foreground: light-dark(
    oklch(0.216 0.006 56.043),
    oklch(0.985 0.001 106.423)
  );
  --color-sidebar-border: light-dark(
    oklch(0.923 0.003 48.717),
    oklch(1 0 0 / 10%)
  );
  --color-sidebar-ring: light-dark(
    oklch(0.709 0.01 56.259),
    oklch(0.553 0.013 58.071)
  );
}

@layer base {
  :root {
    color-scheme: light;
    --radius: 0.625rem;
  }
  .dark {
    color-scheme: dark;
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-poppins), sans-serif;
    min-width: 320px;
    @apply bg-background text-foreground;
  }
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 100%;
}
